$default: #111;
$accent: #FA3138;
$bg: #FEC112;
$bg-accent: #26E0E0;
$blue: #00BFFF;

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  } 
}

@mixin title($content) {
  content: $content;
  position: absolute;
  font-size: 150px;
  line-height: 1;
  color: #F2F2F2;
  top: 25px;
  left: -200px;
  z-index: -1;
}