$default: #333;
$accent: #FA3138;
$bg: #FEC112;
$bg-accent: #26E0E0;
$blue: #00BFFF;

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}