.about {
  background-image: url('../../images/icons/about-bg.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top right;

  &__title {
    &::after {
      @include title('ABOUT');
    }
  }

  &__text {
    max-width: 670px;
    margin-bottom: 20px;
    @extend %rubik-300;
    line-height: 1.5;
  }
}