.card {
  max-width: 340px;
  padding: 30px;
  box-shadow: 0 0 20px 2px rgba(17, 17, 17, 0.288);
  background-image: -webkit-gradient(linear, 5% 35%, 0% 100%, from(#FFFFFF), to($bg), color-stop(0, $bg));
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  &__header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../../images/testimonials/face_1.jpeg');
      background-size: contain;
      border-radius: 50%;
      width: 86px;
      height: 86px;
      top: 0;
      left: 0;
    }
  }

  &__text {
    margin-bottom: 0;
  }

  &__author {
    margin-left: 100px;
    text-align: center;
  }

  &__title {
    padding: 10px 0;
    font-size: 20px;
    @extend %rubik-500;
  }

  &__position {
    @extend %rubik-300;
    padding: 10px 0;
    font-style: italic;
  }
}