.header {
  min-height: 100vh;
  background-color: $bg;
  position: relative;
  @extend %rubik-500;
  font-size: 40px;

  &__top {
    padding: 29px 0;
  }

  &__inner {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    span {
      color: #fff;
    }
  }
}

.menu {
  position: absolute;
  top: -20px;
  right: -40px;
  transform: rotate(15deg);

  &__list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 660px;
    background-color:$bg-accent;
  }

  &__item {
    width: 200px;
    height: 150px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center ;
  }

  &__link {
    font-size: 30px;
    z-index: 5;
  }
}